/* Code sourced from: https://www.c-sharpcorner.com/article/creating-a-simple-login-page-using-html-and-css/ */
/* And modified by Daniel Viglietti */
/* Date: September 9th, 2020 */
.login{  
        width: 600px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;
        padding: 80px;  
        background: #23463f;  
        border-radius: 15px;  
}  
#username{  
    width: 510px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  
#password{  
    width: 500px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
      
}  
#loginbutton{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: blue;  
}
.placeholder{
    color: white;
    font-size: 17px;
} 
.miscellaneous{
    color: white;
    font-size: 14px;
} 
.header{
    color: white;
    font-size: 25px;
} 